body {
	background-color: white;
	background: url("images/anuvis3.svg") no-repeat right;
  background-position: bottom bottom;
	font-family: Georgia;  
	color: rgb(56,56,56);
}

ol#toc {
    height: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

ol#toc li {
    margin: 0 1px 0 0;
    padding-left: 15px;
    display: inline-block;
}

ol#toc a {
    color: rgb(56,56,56);
    display: block;
    /*float: left;*/
    height: 2em;
    line-height: 2em;
    padding-right: 120px;
    text-decoration: none;
}

ol#toc li.current {
    background-color: rgb(56,56,56);
    background-position: 0 -10px;
}

ol#toc li.current a {
    background-position: 100% -60px;
    color: white;
    font-weight: bold;
}


h1{
	position: left;
	padding-left: 12px;
  padding-top: 40px;
	top: 10px;
	text-align: justify;
  color: (56,56,56);
}

h4{
	position: left;
	padding-left: 12px;
	top: 15px;
	text-align: justify;
  color: (56,56,56);
}


div.boxed {
  color:  rgb(56,56,56);
  Height: 100%;
  Width: 100%;
  max-width: 600px;
  position: relative;
	padding-left: 12px;
	top: 10px;
  border-radius: 1px;
  padding:10px;	
  background-color: rgba(255,255,255,0.5);
}

ul.social{
  padding-top: 12px;
    list-style: none;
    padding-left:2px;
}

ul.social li{
  padding-top: 12px;
  padding-left: 12px;
  display: inline-block;
}


