body {
	background-color: white;
	background: url("pictures/anuvis3.jpg") no-repeat;
	background-position: right center;
	background-attachment: fixed;
	font-family: Georgia;  
	color: rgb(56,56,56);
}

ol#toc {
    height: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
}

ol#toc li {
    float: left;
    margin: 0 1px 0 0;
    padding-left: 15px;
}

ol#toc a {
    background: url(tabs.gif) 100% 0;
    color: rgb(56,56,56);
    display: block;
    float: left;
    height: 2em;
    line-height: 2em;
    padding-right: 120px;
    text-decoration: none;
}

ol#toc li.current {
    background-color: rgb(56,56,56);
    background-position: 0 -10px;
}

ol#toc li.current a {
    background-position: 100% -60px;
    color: white;
    font-weight: bold;
}


h1{
  padding-top: 30px;
	position: relative;
	left: 10px;
	top: 0px;
	text-align: justify;
  color: (56,56,56);
}

h4{
	position: relative;
	left: 10px;
	top: 5px;
	text-align: justify;
  color: (56,56,56);
}


.boxed {
  color:  rgb(56,56,56);
  border: 0px solid;
  Height: 145px;
  Width: 600px;
  position: relative;
	left: 10px;
	top: 10px;
  border-radius: 1px;
  padding-bottom:20px;	
}

ul.social a{
  display: inline-block;
  padding-left:2px;

  }
