<div class="section intro" data-anchor="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h5></h5>
        <%= image_tag 'anuvisfull_02_02.svg', class: 'img-responsive intro-image' %>
        <h1>Anuvis Mejia</h1>
        <p>Full Stacks Ruby Web Developer - But it's always more than that.
         <!--  Hi, my names Anuvis Mejia a Miami based freelance web developer and designer. I passionately move pixels and lines of code to craft clean, responsive, and user-friendly websites. My current weapons of choice are Ruby on Rails, jQuery, and MySQL. Being both an engineer and designer, I help clients bring their ideas into reality. --></p>
        <br>
        <a href="#page2" class="btn btn-oye">More</a>
      </div>
    </div>
  </div>
</div>

<div class="section bio" data-anchor="page2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Anuvis's Bio</h1>
        <p>
          Hi, my names Anuvis Mejia a Miami based freelance web developer and designer. I passionately move pixels and lines of code to craft clean, responsive, and user-friendly websites. My current weapons of choice are Ruby on Rails, jQuery, and MySQL. Being both an engineer and designer, I help clients bring their ideas into reality.
        </p>
        <br>
        <a href="#page3" class="btn btn-oye">More</a>
      </div>
    </div>
  </div>
</div>

<div class="section education" data-anchor="page3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Experience</h1>
        <br>
        <a href="#page4" class="btn btn-oye">More</a>
      </div>
    </div>
  </div>
</div>

<div class="section skills" data-anchor="page4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Education</h1>
        <br>
        <a href="#page5" class="btn btn-oye">More</a>
      </div>
    </div>
  </div>
</div>

<div class="section contact" data-anchor="page5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Contact Me</h1>
        <br>
      </div>
    </div>
  </div>
</div>
