<div class="section intro" data-anchor="home">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h5>Welcome to</h5>
        <h1>New to the Game</h1>
        <p>Our goal is to... My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there.</p>
        <br>
        <a href="#get-started" class="btn btn-oye">Get Started</a>
      </div>
    </div>
  </div>
</div>

<div class="section" data-anchor="get-started">

  <h1>test</h1>

</div>

<div class="section intro" data-anchor="page3">

  <h1>Home</h1>

</div>
