$gold: #cdb475;
$lgold: #e5d6b2;
$octin: "octin-college",sans-serif;

@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.fullPage";
@import "font-awesome";


h1,h2,h3,h4,h5,p,ul,li,a{font-family: $octin;}
header {
  width: 100%;
  height: 55px;
  position: fixed;
  z-index: 100;
  background: rgba(0,0,0,0.1);
  top: 0;
  left: 0;
}

h1 {
  font-weight: 600;
}

.v-align {
  position: relative;
  top: 200px;
}

.main-header {
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  a {
    color: white;
    text-decoration:none;
  }
  a:hover {
    color: #808080;
  }
  
}
.logo-container {
  position: absolute;
  width: 100px;
  left: 40px;
  top: 5px;
}
.nav-links {
  position: absolute;
  right: 0;
}

.btn-oye {
  color: white;
  border: solid 2px white;
  background: transparent;
  border-radius: 0px;
  transition: all .2s;
  font-weight: 600;
  &:hover {
    color: white;
    background: white;
    border-radius: 0px;
    border: solid 2px white;
  }
}

.intro {
  // background: -webkit-radial-gradient($lgold, $gold); /* Safari 5.1 to 6.0 */
  // background: -o-radial-gradient($lgold, $gold); /* For Opera 11.6 to 12.0 */
  // background: -moz-radial-gradient($lgold, $gold); /* For Firefox 3.6 to 15 */
  // background: radial-gradient($lgold, $gold); /* Standard syntax */
  background: url('http://i.imgur.com/XWUGgek.jpg');
  h1 {
    margin-top: 0px;
    font-size: 80px;
  }
  h5 {
    margin-bottom: -10px;
    font-size: 40px;
    font-weight: 300;
  }
  p {font-size:25px;}
}

.section.intro{
 color:white !important; 
}


.intro-image{
  width: 200px;
  border-radius:100%;
}

.contact{
  background: url(image-path("background2.jpg"));
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  color:white;
  a {
    color:white;
  }
  a:hover{
    color: #808080;
  }
}

.bkg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0,0,0,0.6);
  top: 0;
}



#new_contact_form {
  line-height: 0;
  input{
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    background: rgba(0,0,0,0.8);
    border: none;
    padding: 20px 20px;
    height: 44px;
    font-size: 18px;
    border-radius: 0px;
  }
}

#contact_form_message{
  color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  background: rgba(0,0,0,0.8);
  border: none;
  padding: 10px 20px;
  height: 160px;
  font-size: 18px;
  border-radius: 0px;
}
#new_contact_form input[type="submit"]{
  color: #1E1F20!important;
  background: #fff!important;
  font-weight: bold;
  width: 100%;
  height: 60px;
  padding: 20px 0;
  margin-bottom: 0;
  cursor: pointer;
  border: none;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s;
  margin-top: 10px;
}


