<div class="main-header">
  <%=link_to "Anuvis's Bio", "#page2", class: ""  %>
  <%=link_to "Experience", "#page3", class: ""  %>
  <%=link_to "Education", "#page4", class: "" %>
  <%=link_to "Contact Me", "#page5", class: "" %>
  <%#= render "flashes" -%>
  <div class="nav-links"></div>
</div>
